# compiled sources #
*.o
*.a
*.so
*.out
*/bin/*
*/obj/*
*.obj
*.exe
*.lib
*.vcproj
*.sln
*.bak
*.suo
*.sdf
*.opensdf
*.bak

# databases #
*.sqlite

*~
*.gch



/tracing_service/Debug
/tracing_service/vs_prjs/*/Debug
/tracing_service/ipch
/tracing_service/misc/win_gsoap/generated